<ul class="list-group">
  @for (todo of todos; track todo) {
  <li
    class="list-group-item flex justify-between items-center p-4 my-4 rounded-lg shadow-md max-w-xl mx-auto"
    [ngClass]="{
      'bg-gray-100': !todo.isCompleted,
      'bg-green-100': todo.isCompleted
    }"
  >
    <span class="flex items-center">
      <input
        type="checkbox"
        class="form-checkbox rounded mr-2"
        [checked]="todo.isCompleted"
        (change)="changeTodoStatus(todo)"
      />
      <span
        [ngClass]="{ 'line-through': todo.isCompleted }"
        class="text-lg font-medium {{
          todo.isCompleted ? 'text-gray-500' : 'text-black'
        }}"
      >
        {{ todo.title | uppercase }}
      </span>
    </span>
    <span class="text-sm text-gray-500">
      {{ todo.date | date : "d MMMM yyyy" }}
    </span>
    <button
      class="btn btn-danger flex items-center px-4 py-2 ml-2 text-red-800 font-semibold"
      (click)="deleteTodo(todo)"
    >
      Delete 🗑️
    </button>
  </li>
  }
</ul>
